.header {
    float: right;
    border:solid;
    padding: 15px;
    border-color:red;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

body {
    background-image: url('imgs/hero.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
}

nav {
    padding:20px;
    margin-top:20px
   
}

a {
    color:white;
    padding:20px;
    font-size: 25px;
    border-style:double;
    
}

main {
    color: rgb(0,0,0);
    font-size: 17px

}

.skills {
    color:white;
}

.email {
    border:none;
    padding: 0;
    font-size: 15px;
}


/* @media display (max-width: 576px) {
    
} */

@keyframes example {
  0%   {border-color: red;}
  25%  {border-color: white;}
  50%  {border-color: blue;}
  100% {border-color: green;}
}

ul {
    list-style-type: none;
}

#mainHeader {
    margin-right: 540px;
    margin-top: 280px;
    color: white;
    font-family: 'Open Sans', sans-serif
}

.contactMe {
    color: white;
}

.aboutMe {
    color: white;
    text-shadow: 1px 1px #000000
}

/* .hangmanCard {
    height: 200px;
    width: 50%;
} */

.projects {
    display: inline;
}

.linkedin {
    border: none;
    display: inline
}
